<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <style>

      
        #wrapper
        {
            display: flex;
        }
        #left
        {
            flex: 1; 
            height: 728px;
            width: 381px
        }
        #playerBoard
        {
            flex: 2;
            /* background-color: yellow; */
            height: 728px;
            width: 662px;
            
        }
       
        #right
        {
            flex: 1;
            height: 728px;
            width: 381px;
           
           
        }
     
        table
        {
            width: 100%;
            border: 1px black solid;
        }
        tr, td 
        {
            border: 1px solid black;
            text-align: center;
        }
        td:hover
        {
            background-color: cadetblue;
        }

        tr ,td 
        {
            width: 60px;
            height: 60px;
            
        }
       
        </style>

    

  